<div class="results-container">
  <p id="result"></p>
  <div class="buttons">
    <button (click)="restartProcess()" id="restart">Restart Process</button>
    <a id="feedback-form" href="https://forms.gle/gvb13e8SkyAWuSav7" target="_blank">Give us Feedback!</a>
  </div>
</div>

<div class="chart-container">
  <div class="chart-selection">
    <label for="chartSelect">Select Chart:</label>
    <select id="chartSelect" [(ngModel)]="selectedChart" (change)="onChartSelectionChange()">
      <option *ngFor="let option of chartOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="chart-display">
    <canvas id="expressionsChart"></canvas>
    <canvas id="ageChart"></canvas>
    <canvas id="genderChart"></canvas>
    <canvas id="facesDetectedChart"></canvas>
    <canvas id="faceCoverChart"></canvas>
  </div>
</div>
