<div class="buttons">
  <button (click)="restartProcess()" id="restart">Restart</button>
  <button (click)="openModal()" id="results">Results</button>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p id="text">Your text goes here...</p>
  </div>
</div>

<div class="chart-container">
  <div class="chart-selection">
    <label for="chartSelect">Select Chart:</label>
    <select id="chartSelect" [(ngModel)]="selectedChart" (change)="onChartSelectionChange()">
      <option *ngFor="let option of chartOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="chart-display">
    <canvas id="expressionsChart"></canvas>
    <canvas id="ageChart"></canvas>
    <canvas id="genderChart"></canvas>
    <canvas id="facesDetectedChart"></canvas>
    <canvas id="faceCoverChart"></canvas>
  </div>
</div>
