#text {
  padding: 20px;
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-selection {
  margin-bottom: 20px;
  text-align: center;
}

.chart-display {
  display: inline;
  justify-content: center;
}

.chart-display canvas {
  display: none;
  width: 700px;
  height: 300px;
  max-width: 100%;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#restart {
  padding: 10px 20px;
  background-color: rgb(0, 51, 122);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

#restart:hover {
  background-color: rgb(51, 153, 255);
}
