<div class="welcome-container" *ngIf="!showWebcam">
  <h1>Welcome to the Fifth Element's Interviews!</h1>
  <button *ngIf="!showWebcam" (click)="openModal('begin')" id="start">Start!</button>
</div>

<div *ngIf="!showWebcam" id="beginModal" class="modal">
  <div class="modal-content">
    @if (showModal === "deviceCheck") {
    <div class="device-check-modal">
      <app-device-check (deviceCheckComplete)="onDeviceCheckComplete($event)"></app-device-check>
      <button class="next-modal" id="to-screen-record" (click)="showModal = 'screenRecord'"
        [disabled]="!devicesReady">Next</button>
    </div>
    } @else if (showModal === "screenRecord") {
    <div class="screen-record-modal">
      <h1><b>Please be informed that:</b></h1>
      <p>1. You need to position your webcam directly in front of you, ensuring that you are centered
        in the frame.</p>
      <p>2. You need to do this on a PC/laptop, not on your phone.</p>
      <p>3- Your interview will be recorded and saved for 3 months.</p>
      <p>4- Your screen will also be recorded during the interview (click the button down right and choose
        <span id="entire-screen">'Entire Screen'</span>).
      </p>
      <div class="buttons">
        <button class="next-modal" id="to-fullscreen" (click)="showModal = 'fullscreen'" disabled>Next</button>
        <button id="capture" (click)="screenRecord()">
          <div id="indicator"></div>
          <span id="buttonText">Start recording</span>
        </button>
      </div>
    </div>
    } @else if (showModal === "fullscreen") {
    <div class="fullscreen-modal">
      <h1><b>Please be informed that:</b></h1>
      <p>5- You will be in full-screen mode throughout the interview.</p>
      <p>6- If you exit full-screen mode for more than 10 seconds, you will be
        <b>disqualified</b> for cheating.
      </p>
      <button (click)="beginInterview()" id="begin">Understood. Let's Begin!</button>
    </div>
    }
  </div>
</div>

<div id="warningModal" class="modal">
  <div class="modal-content">
    <p><b>Please, go back to full-screen. {{subTimerDisplay}}s left</b></p>
    <button (click)="fullScreen()" id="fullscreen">Full-screen</button>
  </div>
</div>

<div class="video-container" *ngIf="showWebcam">
  <video #video [width]="WIDTH" [height]="HEIGHT" autoplay muted></video>
  <div #canvas id="canvas"></div>
</div>
<div id="interview-timer" *ngIf="showWebcam">{{mainTimerDisplay}}</div>
